.navbar {
  margin-bottom: 0;
}

.bg-sidebar {
  background-color: $white-dirty !important;
}

.text-feltro-title-color{
  color: $feltro-title-color 
}

button, html [type="button"], [type="reset"], [type="submit"]{
  -webkit-appearance: none;
}


.feltro-header{
  background-image: url(/img/impression/IttenImp2.jpg); 
  background-size: cover; 
  -webkit-box-shadow: none; 
  box-shadow: none; 
  border: 0px; 
  border-radius: 0px; 
  min-height: 100vh;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  border-radius: 0px; 
  background-color: $brand-inverse;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  text-align: justify;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $brand-inverse;
}

.card {
  float: left;
  margin-bottom: 2rem;
  background-color:$white-dirty;
  border: 0;
}

.card h6{
  padding-top: .75rem;
  padding-left: .75rem;
  color: $feltro-title-color;
}

.card p{
  font-size: 85%;
  padding-left: .75rem;
  color: $feltro-title-color;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.horizontalLogo{
  width: 300px; 
}

.navbar{
  background-color:$white-dirty;
}

#navbarHeader{
  background-color:$white-dirty;
}

#navbarHeader a:hover{
  color: $feltro-title-brackets-color;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(139, 141, 142, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nopadding{
  padding: 0 !important;
}

#imgCarousel .card{
  cursor: pointer;
}

.dropdown-toggle{
  margin-left: 2em;
}

.dropdown-toggle {
  cursor: pointer;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none; 
  float: left; 
  min-width: 1rem;
  font-size: 1rem; 
  color: $feltro-title-color; 
  text-align: left;
  list-style: none;
  border: none;
  background-color: $white-dirty;
}

.dropdown-item {
  display: block;
  width: 100%;
  clear: both;
  font-weight: normal;
  color:$feltro-title-color; 
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
  margin-left: 1.4em;
}

.dropdown-item:hover{
  color:$feltro-title-color;
  background-color:$white-dirty; 
  width: 5em;
}

.dropdown-item:focus{
  color:$feltro-title-color;
  background-color:$white-dirty; 
  width: 5em;
}

.first-item {
  margin-top: -1.5em;
}

.second-item{
  margin-top: -0.5em;
}


.navbar-toggler-icon{
  margin-left: -2em;
}

#langDropdown{
  color: $feltro-title-color;
}

/*
sidebar with fixed elements
*/
@media screen and (min-width: 1600px) {

  .custom-toggler .navbar-toggler-icon {
    height: 3em;
    width: 3em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(139, 141, 142, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /*fixed top relative left see https://stackoverflow.com/a/6794097/2754507/. Commented out: only vertical logo needs that
    position: fixed;
    transform: translateX(-50%);
    */
  }

  .verticalLogo{
    /*fixed top relative left see https://stackoverflow.com/a/6794097/2754507/*/
    position: fixed;
    bottom: 20px;
    height: 300px;
    transform: translateX(-10%);
  }
}

@media screen and (max-width: 1600px) {

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(139, 141, 142, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /*fixed top relative left see https://stackoverflow.com/a/6794097/2754507/. Commented out: only vertical logo needs that
    position: fixed;
    transform: translateX(-50%);
    */
  }

  .verticalLogo{
     /*fixed top relative left see https://stackoverflow.com/a/6794097/2754507/*/
    position: fixed;
    bottom: 20px;
    left: 1.6rem;
    height: 300px;
  }

  #langDropdown{
    margin-top: -0.6rem !important;
  }

  .dropdown-item {
    margin-left: 0.75em;
  }
}

