$white-dirty:  #e2e3e0 !default;
$text-muted: $white-dirty !default;
$brand-primary:  #292b2c !default;
$body-bg: $white-dirty;
$feltro-title-color: #8b8d8e;
$feltro-title-brackets-color: #96172E;
$btn-secondary-color: $brand-primary;

@import "~bootstrap/scss/bootstrap";
@import "~photoswipe/dist/photoswipe.css";
@import "~photoswipe/dist/default-skin/default-skin.css";
@import "album";

.feltro-title{
  color: $feltro-title-color;
}

.feltro-title-brackets{
  color: $feltro-title-brackets-color;
}

.navbar-inverse {
  margin: 0;
}

.feltro-header{
  background: url(/img/impression/zebraImpScritta70_opt.jpg);  
  background-size: cover; 
  -webkit-box-shadow: none; 
  box-shadow: none; 
  border: 0px; 
  border-radius: 0px; 
  min-height: 100vh;
}

@media screen and (max-width: 1024px) and (orientation:portrait) {
  .feltro-header{  
    background: url(/img/impression/zebraImpNOScritta70_opt.jpg);  
    background-size: cover; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
    border: 0px; 
    border-radius: 0px; 
    min-height: 100vh;
  }
}

  
.feltro-header-mddown{
    background: url(/img/impression/zebraImpNOScritta70_opt.jpg);  
    background-size: cover; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
    border: 0px; 
    border-radius: 0px; 
    min-height: 100vh;
}  

.squared-ratio {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    background-size: cover; 
}

#imgCarousel a{
  color: $feltro-title-brackets-color;
  font-size: 0.95rem;
}